
<div class="listed col-md-6 col-md-offset-3">
  <div class="gray">
    <div class="marge">
      <h3>Create a New Course</h1>
    </div>
  </div>

  <div class="bottom">
    <div class="marge2">

      <form role="form" action="/courses" method="post">

        <div class="form-group">
          <label for="name">Course name</label>
          <input type="text" class="form-control" id="name" name="[course]name" placeholder="Enter a name for this course">
        </div>

        <div class="form-group">
          <label for="name">Course number</label>
          <input type="text" class="form-control" id="number" name="[course]number" placeholder="Enter a number for this course">
        </div>

        <div class="form-group">
          <label for="name">When was this course last taught?</label>
          <input type="text" class="form-control" id="last_semester_taught" name="[course]last_semester_taught" placeholder="Last semester taught">
        </div>

        <div class="form-group">
          <label for="name">When will this class be taught next?</label>
          <input type="text" class="form-control" id="next_semester_taught" name="[course]next_semester_taught" placeholder="Next semester taught">
        </div>

         <div class="form-group">
          <label for="name">Professor ID</label>
          <input type="text" class="form-control" id="professor_id" name="[course]professor_id" placeholder="Professor ID">
        </div>
        
        <div class="form-group">
          <label for="name">Subject ID</label>
          <input type="text" class="form-control" id="subject_id" name="[course]subject_id" placeholder="Subject ID">
        </div>
        
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>