<div class="listed col-md-6 col-md-offset-3">
  <div class="gray">
    <div class="marge">
      <h3>Add a new building</h1>
    </div>
  </div>

  <div class="bottom">
    <div class="marge2">

      <form role="form" action="/buildings" method="post">

        <div class="form-group">
          <label for="name">Enter the name of the building</label>
          <input type="text" class="form-control" id="name" name="[building]name" placeholder="Enter a name for your building.">
        </div>

        <div class="form-group">
          <label for="name">Enter the number of rooms in the building.</label>
          <input type="text" class="form-control" id="name" name="[building]number_of_rooms" placeholder="Number of rooms">
        </div>
        
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>