<div class="container">
  <div class="row">
    <div class="show">
    <h3 class="center_me"><%= @building.name %></h1>
    <p>Number of rooms: <%= @building.number_of_rooms %></p>
    

    </div>
    <p>Click <a href="/buildings/<%= @building.id %>/edit" class="leftpadded">here</a> to edit.</p>
  </div>
</div>