<div class="container">
  <div class="row">
    <div class="show">
    <h3 class="center_me"><%= @professor.first_name %> <%= @professor.last_name %> </h1>
    <p>Years experience: <%= @professor.yrs_experience %></p>
    

    </div>
    <p>Click <a href="/professors/<%= @professor.id %>/edit" class="leftpadded">here</a> to edit.</p>
  </div>
</div>